@import 'reset.css';

body {
    background-color: #6f7889;
}

.userCard {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border: 2px solid #586ea8;
    border-radius: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4em auto;
    overflow: hidden;
}

.userFullName h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #e6ebee;
    margin: 0;
    padding: 1em 2px;
}

.userInfo {
    color: white;
    background-color: #393c45;
}

.userPhotoContainer img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 70px;
}

.userPhotoContainer {
    width: 130px;
    height: 130px;
    padding: 2em 0;
    overflow: hidden;
    margin: auto;
}
.userDescription {
    text-align: justify;
    padding: 0 2em;
    line-height: 1.4em;
}
 .userStatContainer {
     padding-top: 2em;
     text-align: center;
 }

 .userStatItem {
     display: inline-block;
     margin: 0 1em;
 }

 .statValue {
     font-size: 2em;
     text-align: center;
     padding-bottom: 0.2em;
 }

 .statName {
     text-transform: capitalize;
     text-align: center;
 }

 .buttonContainer {
     text-align: center;
     padding: 2em 0;
 }

 .buttonContainerItem {
     display: inline-block;
     padding: 1em 2em;
     overflow: hidden;
     border-radius: 40px;
     width: 20%;
 }

 .buttonContainerItem a {
     text-decoration: none;
     font-size: 1.2em;
 }








